<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.optilogistic.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="fr.optilogistic.rental.ui.category"
            class="fr.optilogistic.rental.ui.views.RentalPropertyView"
            id="fr.optilogistic.rental.ui.propertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="fr.optilogistic.rental.ui.category"
            class="fr.optilogistic.rental.ui.views.RentalTreeView"
            id="fr.optilogistic.rental.ui.rentalTreeView"
            name="RentalTree"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.optilogistic.rental.ui.perspectives.RentalPerspective"
            icon="icons/Rentals.png"
            id="fr.optilogistic.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.optilogistic.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.optilogistic.rental.ui.preferences.RentalPreferencePage"
            id="fr.optilogistic.rental.ui.RentalPreferenceFile"
            name="RentalPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.optilogistic.rental.ui.handlers.SimpleHandler"
            id="fr.optilogistic.rental.ui.hello-world"
            name="Hello world">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="fr.optilogistic.rental.ui.hello-world"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="fr.optilogistic.rental.ui.hello-world"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.optilogistic.rental.ui.rentalTreeView?after=additions">
         <command
               commandId="fr.optilogistic.rental.ui.hello-world"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
